<!-- Set person from include, if specified, or page author -->
{% if include.author %}
	{% assign author = site.data.people[include.author] %}
{% elsif page.author %}
	{% assign author = site.data.people[page.author] %}
{% else %}
	{% assign error = true %}
{% endif %}

<!-- Placement of the image on the left or right -->
{% if include.style %}
	{% assign style = include.style %}
{% else %}
	{% assign style = "img-left" %}
{% endif %}

{% if error %}
<p class="error">Error: No author is specified</p>

{% else %}
<div class="card about-block">
<!-- 	<div class="image-wrap"> -->
	<img src="{{author.pic}}" alt="{{author.name}}" class="{{style}}"/>
	<!-- </div> -->
	<div class="person-meta">
		<div class="bio-wrap">
			<h2 class="name"><strong>{{author.name}}</strong></h2>
			<p>{{author.about}}</p>
		</div>
		{% if author.links %}
			<ul class="person-links rlist--inline">
			{% for link in author.links %}
				<li>
					<a href="{{link.link}}">{{link.name}}</a>
				</li>
			{% endfor %}
			</ul>
		{% endif %}
	</div>
</div>

{% endif %}


