.hero {
  &.hero--small {
    min-height: 11.75rem;
  }

  &__home {
    background-position-y: 0;
    background-position-x: 20%;
    background-color: rgba(52,56,81,0.8);

    &::before {
      background-color: rgba(75, 54, 117, 0.25);
    }
  }

  @include breakpoint($lg) {
    height: 22em;

    &.hero--small {
      height: 17.5em;
    }

    &__home {
      background-position-y: 40px;
    }
  }
}

.hero__wrap {
  width: 15em;

  @include breakpoint($sm) {
    width: 30em;
  }

  .hero__title {
    line-height: 1.2em;
  }
}


blockquote {
  background: #EDEDED;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";

  &:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }

  p {
    display: inline;
  }
}

.post-content {
  .bigfoot-footnote {
    img {
      margin: 0 auto;
      max-height: 205px;
      max-width: 310px;
    }
    //Need something other than the image to force the footnote to expand the full width.
    .image-hack {
      margin: 0;
      display: block;
      width: 310px;
    }
  }
}

.post-content {
  img {
    display: block;
    margin: 1.25rem auto;
  }
  figure {
    margin: 1.25rem auto;

    img {
      margin-bottom: 0;
    }
  }

  figcaption {
    text-align: center;
    font-size: smaller;
    font-weight: 500;
  }
}

.center-img {
  display: block;
  margin: 0 auto;
  border: 2px solid $outline-dark;
}